:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --textColor: hsl(240, 4%, 36%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
  }
  
  .edit-listing {
    display: flex;
    flex-direction: column;
    background-color: var(--whiteColor);
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .wide-title {
      width: 38%; // หรือคุณอาจจะต้องการกำหนดเป็นค่าอื่น เช่น 500px, 80%, ฯลฯ.
      // หากต้องการให้ input กว้างตามที่คุณต้องการ, แต่ไม่เกินขอบเขตของฟอร์ม, ใช้ 100%
    }
    
    .wide-description {
      width: 59%; // หรือคุณอาจจะต้องการกำหนดเป็นค่าอื่น เช่น 500px, 80%, ฯลฯ.
      // หากต้องการให้ input กว้างตามที่คุณต้องการ, แต่ไม่เกินขอบเขตของฟอร์ม, ใช้ 100%
    }

    h2 {
      margin-bottom: 15px;
    }
    input {
      margin-top: 10px;
      margin-bottom: 15px;
      margin-left: 15px;
      padding: 10px;
      border: 1px solid var(--greyText);
      border-radius: 5px;
      background-color: var(--inputColor);
      color: var(--textColor);
      
      &::placeholder {
        color: var(--greyText);
      }
    }


  
    button {
      margin-top: 20px;
      padding: 10px;
      color: var(--whiteColor);
      background: var(--gradientColor);
      border: none;
      border-radius: 5px;
      cursor: pointer;

  
      &:hover {
        background: var(--SecondaryColor);
      }

    }

    .register-container {
      margin-top: 10px; // ระยะห่างจากปุ่ม Login
      text-align: center; // ให้ขีดคั่นและปุ่มอยู่ตรงกลาง
  
      .divider {
        border: none; 
        border-top: 1px solid var(--greyText); // ขีดคั่นด้วยเส้นทึบสีดำ
        width: 100%; // ขีดคั่นครอบคลุมทั้งบรรทัด
        margin: 10px 0 20px 0; // ระยะห่างจากปุ่ม Login และ ปุ่ม "สร้างบัญชีใหม่" ที่เพิ่มขึ้น
      }
  
      .register-button {
        background-color: green;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px; // ระยะห่างจากขีดคั่น
  
        &:hover {
          background-color: darkgreen;
        }
      }
    }

    
  label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    color: var(--textColor);
  }

  select {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    border: 1px solid var(--greyText);
    border-radius: 5px;
    background-color: var(--inputColor);
    color: var(--textColor);
    width: 50%; // คุณสามารถปรับความกว้างได้ตามต้องการ

    &:focus {
      outline: none;
      border-color: var(--PrimaryColor);
    }

    option {
      color: var(--textColor);
    }
  }

  }
  